# üìò –õ–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–∞—è —Ä–∞–±–æ—Ç–∞ ‚Ññ3 (—á–∞—Å—Ç—å 2)
## –õ–æ–≥–∏—Å—Ç–∏—á–µ—Å–∫–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è: –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö Titanic

In [3]:
# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

## üîπ –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

In [4]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ (–∑–∞–º–µ–Ω–∏—Ç–µ –ø—É—Ç—å –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏)
df = pd.read_csv("Titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## üîπ –®–∞–≥ 1. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [5]:
# –ö–æ–ø–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ —É–¥–∞–ª–µ–Ω–∏–µ –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
data = df.copy()
data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace=True)

# –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
data.dropna(inplace=True)

# –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
data["Sex"] = data["Sex"].map({"male": 0, "female": 1})
data["Embarked"] = data["Embarked"].map({"S": 0, "C": 1, "Q": 2})

# –ü—Ä–æ–≤–µ—Ä–∫–∞
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

### –ü—Ä–æ—Ü–µ–Ω—Ç –ø–æ—Ç–µ—Ä—è–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö

In [6]:
lost_percent = 100 * (1 - len(data) / len(df))
print(f"–ü–æ—Ç–µ—Ä—è–Ω–æ –¥–∞–Ω–Ω—ã—Ö: {lost_percent:.2f}%")

–ü–æ—Ç–µ—Ä—è–Ω–æ –¥–∞–Ω–Ω—ã—Ö: 20.09%

## üîπ –®–∞–≥ 2. –û–±—É—á–µ–Ω–∏–µ –ª–æ–≥–∏—Å—Ç–∏—á–µ—Å–∫–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏

In [7]:
# –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
X = data.drop("Survived", axis=1)
y = data["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –∏ —Ç–æ—á–Ω–æ—Å—Ç—å
y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(f"–¢–æ—á–Ω–æ—Å—Ç—å –º–æ–¥–µ–ª–∏: {acc:.4f}")

–¢–æ—á–Ω–æ—Å—Ç—å –º–æ–¥–µ–ª–∏: 0.7897

### –í–ª–∏—è–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞ `Embarked`

In [8]:
# –û–±—É—á–µ–Ω–∏–µ –±–µ–∑ –ø—Ä–∏–∑–Ω–∞–∫–∞ Embarked
X_wo_embarked = X.drop(columns=["Embarked"])
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_wo_embarked, y, test_size=0.3, random_state=42)

model2 = LogisticRegression(max_iter=1000)
model2.fit(X_train2, y_train2)
y_pred2 = model2.predict(X_test2)
acc2 = accuracy_score(y_test2, y_pred2)
print(f"–¢–æ—á–Ω–æ—Å—Ç—å –±–µ–∑ Embarked: {acc2:.4f}")

–¢–æ—á–Ω–æ—Å—Ç—å –±–µ–∑ Embarked: 0.8037